--extra-index-url=https://download.pytorch.org/whl/cu129
torch<2.9
torchaudio

numpy
descript-audio-codec
transformers==4.55.0
faster-whisper
dacite
soundfile
pandas
vector_quantize_pytorch
loguru
pydub
omegaconf
accelerate>=0.26.0
huggingface_hub[cli]
huggingface_hub
hf_xet
bitsandbytes
gradio
python-dateutil
psutil
imohash

# For examples:
#click
#langid
#jieba
#pydantic
#starlette
#fastapi
