--extra-index-url=https://download.pytorch.org/whl/cu129
torch<2.9
torchaudio
torchcodec ; sys_platform != 'win32'

numpy
descript-audio-codec
transformers==4.55.0
faster-whisper
soundfile
praat-parselmouth
dacite
pandas
vector_quantize_pytorch
loguru
pydub
omegaconf
accelerate>=0.26.0
huggingface_hub[cli]
huggingface_hub
hf_xet
bitsandbytes
click
fastapi
gradio
python-dateutil
psutil
imohash

# For examples:
#langid
#jieba
#pydantic
#starlette

